{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block header %}
    <h2>Voici le header</h2>
{% endblock %}

{% block body %}
    <div class="mt-3">
        <h1 class="display-3">Contrôle symfony</h1>
        <p class="lead">Bienvenue sur ce site de test</p>

{% endblock %}